fastapi
uvicorn
sqlalchemy
pyside6
numpy
opencv-python
pandas
librosa
soundfile
psutil
pillow
mutagen
python-multipart
torch
torchvision
scipy
scikit-learn
matplotlib
seaborn
requests
tqdm
pyyaml
packaging
albumentations
thop
ultralytics
onnxruntime
openvino
tensorrt
coremltools
tensorflow
tflite-runtime
paddlepaddle
clearml
wandb
comet_ml
pycocotools
mss
pafy
gitpython
ipython
torch-npu
